.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffffff;
  font-size: 20px;
  
  border: 2px solid #EFEFEF;
  border-radius: 8px;

  margin: 0 0 20px 0;
  padding: 20px 40px;
}

.item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  width: 100%;
}

.item_text {
  display: flex;
  align-items: center;
}

.item .avatar {
  width: 60px;
  height: 60px;

  border-radius: 10px;
}

.post_text {
  padding: 0 0 0 20px;
}

.item_delete {
  display: inline-block;
  width: 25px;
  cursor: pointer;
  transition: .5s all;
}

.item_delete:hover {
  transform: scale(1.25);
}

.about_like {
  /*float: left;*/
}

.about_like .like {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.about_like {
  text-align: center;
}