.app-wrapper {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 250px 1fr;

  grid-template-areas: 
  "h h"
  "n c";

  width: 1200px;
  margin: 0 auto;
  padding: 10px 0 10px 0;
}

.app-wrapper-content {
  grid-area: c;
  background-color: #e9ebee;
  padding-right: 35px;
}

p {
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}